.table_add_condidate{
    display: flex;
    flex-direction: column;
    /* width: 60%; */
    align-items: center;
    /* background-color: green; */
    border-radius: 14px;
    padding: 30px;
}

.input{
    margin: 10%;
}