.main-footer {
    color: rgb(7, 7, 7);
    background-color: #61b861;
    position: relative;
    bottom: 0;
    width: 100%;
  }
.col{
  display: inline-block;
  /* margin-right: 23%; */
  position: relative;
  margin-right: 20%;
}

a {
  outline: none;
  text-decoration: none;
  width: 19.5%;
  text-align: center;
  line-height: 3;
  color: rgb(7, 7, 7);
}
