.header{
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #61b861;
    color: #c71c1c;
    position: relative;
    z-index: 100;
}
.headers_lists{
    display: flex;
    width: 100%;
    height: 100%;
}
.headers_lists>li{
    display: flex;
}

.headr_left{
    display: flex;
    justify-content: center;
    align-items: center;

}

.headr_left>img{
    width: 60px;
    height: 60px;
    padding: 5px;
    border-radius: 40px;
}
.dropDown_header{
    display: none;
    position: absolute;
    flex-direction: column;
    min-width: 10%;
    min-height: 10%;
    float: left;
    justify-content: center;
    align-items: center;
    background-color: rgb(106, 153, 124);
    border-radius: 4%;
}
.dropDown_header>a{
 text-decoration: none;
 padding: 0px;
 justify-content: center;
 display: flex;

}
.header_centrMenu:hover >.dropDown_header{
    display: flex;
}
.header_centrMenu> button{
    padding: 5px;
    border-radius: 4%;
    background-color: #61b861;
}